{{template "base" .}}

{{define "content"}}
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>This is the home page</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente incidunt corporis dolorum aliquid. Suscipit eos magnam distinctio modi quos harum, voluptatem aliquam placeat? Repellat nostrum suscipit possimus accusantium adipisci qui.</p>
                    <img src="/static/images/house.jpg" alt="">
                </div>
            </div>
        </div>
{{end}}